{% extends 'app.twig' %}
{% block content %}
    <h1>{{ action.name }}</h1>
    <form method="post" action="/actions/{{ action.id }} ?>">
        <button type="submit" onclick="return confirm('Are you sure You want to delete this Action?')">X</button>
    </form>
    (<a href="/">Back</a>)
{% endblock %}